.page {
    background-color: #f8f8f8;  /* Цвет фона на каждой странице*/
}
.pageText {
    background-color: #eaeaea; /*Цвет фона на страницах описания товаров*/
}

.header {
    min-width: 1200px;
    border-bottom: 2px solid #b5b7ba;
    margin: 0 auto;
    height: 50px;
    text-align: center;
    padding-top: 18px;
    font-size: 18px;
    
}

.header a {
    text-decoration: none;  /*Ссылки*/
    color: black;
}

.headerText a {
    text-decoration: none;  /*Ссылки внутри описания товара - Назад*/
    color:indianred;
}

.headerText h3 {
    color: black;
    font-size: 18px;  /* Загаловки*/
    font-weight:400;
} 

.short {
    color: #707070;
    font-size: 14px; /*Стиль для КОРОТКОГО описания, на странице с ботинками*/
    font-style:italic;
    line-height:16px;
}

.detailed {
    color: #484343; /*Подробное описание*/
    font-size: 16px;
    font-weight:400;
    line-height:24px;
    text-align: left;
    
}

.map {
    float: right;
    padding-top:50px;   /*Расположение карты*/
    padding-right:10px;
    width: 300px;
}

div a {
    padding-right: 20px;
}

.center {
    text-align: center;
    border-width: 0.14px;
    height: 68px;
    padding-top: 20px;
    
}

.formReg {
    
    float: left;
}

.goods {
    width: 300px;
    margin-right: 50px;
    padding-left: 20px;
    padding-top: 20px;
    display: inline-block;
    float: left;
    outline: 2px solid #aaa;
}

.goods p {
    
    margin-left: 10px;
    padding-left: 20px;
}

.footer1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
}

.footer {
    clear:both;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 40px;
    padding-top: 200px; 
}

.list {
    list-style-type: none; /*Убрал маркер в лист*/
}

.list li {
    list-style-image: url(img/mark.png); /*Стиль для характеристик*/
    font-weight: 450;
    font-size: 14px;
    color: cadetblue;
}

.styleArea {
    display: inline-block; 
    border: 2px solid #eee; 
    padding: 10px 20px; 
    font-family: Verdana, Arial, sans-serif; /*Стиль для Обратной связи,,,,высота и ширина полей в inLine,знаю как прописать в CSS, решил оставить так*/
    font-size: 16px;
    margin: 10px auto;
}

.colortext {
    color: blue; /*Стиль внутри Input*/
    font-size: 15px;
}

.product {
    float: right;
    outline: 2px solid #aaa; /*Рамка*/
    
}
