.page {
    background-color: #f8f8f8;  /* Цвет фона на каждой странице*/
}
.pageText {
    background-color: #eaeaea; /*Цвет фона на страницах описания товаров*/
}

.header {
    min-width: 1200px;
    border-bottom: 2px solid #b5b7ba;
    margin: 0 auto;
    height: 100px;
    width: 200px;
    padding-top: 18px;
    font-size: 18px;
    text-align: center;
    
}

.header a {
    text-decoration: none;  /*Ссылки*/
    color: black;
    
}

.header a:hover {
    color: teal; /*Цвет ссылки при наведении*/
}

.headerText a {
    text-decoration: none;  /*Ссылки внутри описания товара - Назад*/
    color:indianred;
}

.headerText h3 {
    color: black;
    font-size: 18px;  /* Загаловки*/
    font-weight:400;
} 

.short {
    color: #707070;
    font-size: 14px; /*Стиль для КОРОТКОГО описания, на странице с ботинками*/
    font-style:italic;
    line-height:16px;
}

.short:first-letter{
    font-size: 30px;
    color: brown;
}

.detailed {
    color: #484343; /*Подробное описание*/
    font-size: 16px;
    font-weight:400;
    line-height:24px;
    text-align: left;
}
.detailed:first-letter {
    font-size: 30px;
    color: brown;
}

.map {
    float: right;
    padding-top:50px;   /*Расположение карты*/
    padding-right:10px;
    width: 300px;
}

div a {
    padding-right: 20px;
}

.center {
    text-align: center;
    border-width: 0.14px;
    height: 68px;
    padding-top: 20px;
    
}

.formReg {
    
    float: left;
}

.formReg input {
    text-transform: capitalize;
}

.goods {
    width: 300px;
    margin-right: 50px;
    padding-left: 60px;
    padding-top: 20px;
    display: inline-block;
    float: left;
    outline: 2px solid grey; 
}

.goods:hover {
    outline: 2px solid transparent;  /*Скрывающаяся рамка*/
}

.goods p {
    
    margin-left: 10px;
    padding-left: 20px;
}

.footer1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
}

.footer {
    clear:both;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 40px;
    padding-top: 200px; 
}

.styleArea {
    display: inline-block; 
    border: 2px solid #eee; 
    padding: 10px 20px; 
    font-family: Verdana, Arial, sans-serif; /*Стиль для Обратной связи,,,,высота и ширина полей в inLine,знаю как прописать в CSS, решил оставить так*/
    font-size: 16px;
    margin: 10px auto;
}

.colortext {
    color: blue; /*Стиль внутри Input*/
    font-size: 15px;
    background-color: antiquewhite;
}

.product {
    float: right;
    outline: 2px solid #aaa; /*Рамка*/
    width: 200;
    height: 200;
    
}

.header img {
    
    float: left;
    width:100px;
    height: 100px;
    
}

.wrap {
    padding-left: 17px;
}

.characteristic {
    border: 1px solid #000; /*Таблица*/
    width: 400px;
    height: 200px;
    border-collapse: collapse;
}

.characteristic td {
    border: 1px solid #000;
}

.table {
    border: 1px solid #000;
    width: 400px;
    height: 200px;
    border-collapse: collapse;
}

.table td {
    border: 1px solid #000;
    text-align: center;
}

.table td:nth-child(2) {
    line-height: 14px;
}

